@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

* {
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: rgba(245, 237, 240, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}
ul {
    margin-left: 0;
    padding-left: 0;
}

p {
    margin: 0;
}
